<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Splash ekran -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MojMajstor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login ekran -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Registracija ekran -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Glavni ekran (usluge + search + korpa) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Korpa (Cart ekran) - NOVO -->
        <activity
            android:name=".CartActivity"
            android:exported="false" />

        <!-- Korisnicka podrska -->
        <activity
            android:name=".SupportActivity"
            android:exported="false" />

        <!-- Profil profil -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity android:name=".MajstorProfilActivity" />
    </application>

</manifest>
